{% extends 'navbar.html' %}

{% block title %}
    Confirmation
{% endblock %}

{% block content %}
    <div class="content" style="display: flex; flex-direction: column; align-items: center; justify-content: center; height: 80vh;">
        <img src="https://media.tenor.com/B43QChPmpGEAAAAi/cat-bunny.gif" alt="Dance">
        <h2>Woooooo...~! Jedziemy do weterynarza...~!</h2>
        <h4>Została umowiona wizyta z Pupilem {{ pet.name }} do gabinetu {{ clinic.name }}. Termin wizyty: {{ visit_time }}.</h4>
    </div>
{% endblock %}